# Python cache
__pycache__/
*.pyc

# Environment folder
venv/

# IDE and OS files
.vscode/
.idea/
*.DS_Store

# Data and Model Files
*.npy
*.h5
*.keras

# Validation/Evaluation scripts (optional, but good practice to keep the repo clean)
# evaluate.py